# Redirect HTTP to HTTPS
:80 {
    redir https://{host}{uri}
}

meme.cv-stash.com {
    reverse_proxy vg-backend:3001

    # Add CORS headers
    header {
        Access-Control-Allow-Origin: "*"
        Access-Control-Allow-Methods: "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers: "Content-Type, Authorization"
    }

    # Handle preflight requests
    @options {
        method OPTIONS
    }
    respond @options 204
}